

.login-button-registerpage{
    padding:10px;
    height:38px;
    width:400px;
    top: 30%;
    left: 10%;
}

.binus-register-logo{
    padding:10px;
    height:73px;
    width:122px;
    margin:auto 170px;
    position:absolute;
}