.text-field-user{
    padding:25px;
    /* top:120px; */
    left:40px;
    width:240px;
    
}
.text-field-pass{
    padding:25;
    /* top:150px; */
    left:40px;
    width:240px;

}

.button-for-login{
    padding:25px;
    height:38px;
    width:240px;
    top: 5%;
    left: 12.5%;
}
.button-for-register{
    text-align:center ;
    text-indent: 100%;
}